* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #f8f4f1 !important;
}
.inicial-banner {
  margin-top: 6%;
  color: #f8f4f1;
  position: static;
  background-color: #f8f4f1;
}

.inicial-banner img {
  width: 100%;
  height: 500px;
}

.inicial-banner h1 {
  background-color: rgba(166, 136, 136, 0.8);
  position: absolute;
  top: 50% !important;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f8f4f1; /* Ajusta el color del texto */
  font-size: 5em; /* Ajusta el tamaño del texto */
  text-align: center; /* Centra el texto */
  text-shadow: 5px 5px 10px black;
  border: 3px solid #f8f4f1;
  padding: 4rem 4rem;
  box-shadow: 0 0 25px #222;
}
.inicial-banner p {
  position: absolute;
  top: 70% !important;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #a68888;
  text-shadow: 7px 7px 10px gray;
  font-size: 3rem;
}

/* Seccion de quienes somos */
.quienes-somos-section {
  background-color: #f8f4f1;
  margin-top: 100px;
  font-family: "Poppins", sans-serif;
}

.quienes-somos-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #a68888;
  padding: 5%;
}

.quienes-somos-info {
  /* flex: 1 1 100%; */
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quienes-somos-title {
  font-size: 60px;
  margin-bottom: 10px;
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  padding-bottom: 30px;
}

.quienes-somos-info p {
  font-size: 0.85rem;
  line-height: 1.5;
}

#content {
  display: none;
  margin-top: 10px;
}
.quienes-somos-info #know-more {
  padding: 1% 5%;
  border: none;
  color: #f8f4f1;
  background-color: #a68888;
  margin-top: 30px;
  margin-bottom: 5%;
  border-radius: 10px;
}
#know-more:hover {
  background-color: #31081f;
}
.imagen1 {
  display: flex;
  justify-content: center;
}

.imagen1 img {
  border-radius: 10px;
  width: 40%;
  height: auto;
  box-shadow: 0 0 15px #ddd;
  height: auto;
}

.imagen1 img:hover {
  transform: scale(1.01); /* Aumenta ligeramente el tamaño */
}

/* Seccion mision y vision */
#mision-vision-valores {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: #a68888;
  color: #ffffff;
  padding: 5%;
}
#mision header,
#vision header {
  padding-bottom: 30px;
}
#mision-vision-valores section {
  padding: 40px;
}

#mision-vision-valores #mision {
  flex: 1;
}

#mision-vision-valores #valores {
  flex: 1;
}

#mision-vision-valores #vision {
  flex: 1;
  border-left: 2px solid #ffffff; /* Línea blanca entre "Misión" y "Valores" */
  height: 100%; /* Ajuste de altura si es necesario */
  margin: 50px 20px; /* Espaciado alrededor de la línea */
}

#mision-vision-valores h2 {
  font-family: "Playfair Display", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
  text-align: center;
}

#mision-vision-valores p,
#cita {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Seccion de nuestro equipo */

#initialTittle {
  text-align: center;
  font-size: 2rem;
  color: #a68888;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
}

.inicial-banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ourPeople-section {
  margin-top: 60px;
}
.ourPeople-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.imagen1 img {
  width: 30rem;
  height: 20rem;
  object-fit: cover;
  margin-left: 40px;
}

.ourPeople-member {
  background: #a68888;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 250px;
  text-align: center;
}

.ourPeople-member img {
  width: 11rem;
  border-radius: 50%;
  height: 11rem;
  object-fit: cover;
}

.memberName {
  font-family: "Playfair Display", serif;
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 20px;
  color: #f8f4f1;
}

.info {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: white;
  margin-top: 5px;
}

#initialTittle {
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  padding-bottom: 30px;
  font-size: 60px;
}

.social-buttons {
  display: flex;
  justify-content: center; /* Centra los botones horizontalmente */
  gap: 20px; /* Espacio entre los botones */
  margin-top: 15px; /* Espacio superior respecto a la tarjeta */
}
.social-buttons a {
  width: 50px; /* Tamaño del botón */
  height: 50px;
  border-radius: 50%; /* Hace el botón redondo */
  display: flex; /* para centrar el contenido */
  align-items: center; /* para centra el ícono verticalmente */
  justify-content: center; /* para centrar el ícono horizontalmente */
  background-color: #31081f; /* Color de fondo (LinkedIn) */
  text-decoration: none; /* Quita el subrayado de los enlaces */
  transition: background-color 0.3s, transform 0.2s; /* Transiciones */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
  border: 2px solid #f8f4f1; /* Borde externo*/
}

/* Iconos dentro del botón */
.btn i {
  color: #f8f4f1; /* Color blanco para los íconos */
  font-size: 25px; /* Tamaño del ícono */
}

/* Botón de LinkedIn */
.linkedin {
  background-color: #e8d6d6; /* Azul corporativo de LinkedIn */
}

.linkedin:hover {
  background-color: #e8d6d6; /* Oscurece el azul al pasar el cursor */
  transform: scale(1.1); /* Efecto de zoom */
}

/* Botón de GitHub */
.github {
  background-color: #E8D6D6#333; /* Color corporativo de GitHub */
}

.github:hover {
  background-color: #e8d6d6; /* Oscurece el color al pasar el cursor */
  transform: scale(1.1); /* Efecto de zoom */
}
/* Botón de GitHub */
.mail {
  background-color: #E8D6D6#333; /* Color corporativo de GitHub */
}

.mail:hover:hover {
  background-color: #e8d6d6; /* Oscurece el color al pasar el cursor */
  transform: scale(1.1); /* Efecto de zoom */
}
/* Estilos generales para pantallas pequeñas hasta 2560px */
@media (max-width: 2560px) {
  .inicial-banner h1 {
    top: 30%;
    padding: 4rem 6rem;
    font-size: 3.3em;
  }
  .inicial-banner p {
    top: 46%;
    font-size: 2rem;
  }
}

/* Ajustes para pantallas hasta 1440px */
@media (max-width: 1440px) {
  .inicial-banner h1 {
    padding: 2rem 3rem;
    font-size: 3em;
  }
  .inicial-banner p {
    font-size: 1.3rem;
  }
}

/* Ajustes para pantallas medianas (1024px o menos) */
@media (max-width: 1024px) {
  .inicial-banner {
    margin-top: 11%;
  }
  .inicial-banner h1 {
    padding: 1rem 3rem;
    font-size: 2em;
  }
  .inicial-banner p {
    top: 42% !important;
    font-size: 1.3rem;
  }
  .quienes-somos-info p {
    font-size: 1rem;
  }
  .imagen1 img {
    width: 60%;
    margin-left: 0px;
  }
  .quienes-somos-info {
    max-width: 500px;
    margin-left: 6%;
  }
}

/* Ajustes para pantallas menores a 884px */
@media (max-width: 884px) {
  .inicial-banner {
    margin-top: 14%;
  }
  .inicial-banner h1 {
    top: 25% !important;
    padding: 1rem 2rem;
    font-size: 2em;
  }
  .inicial-banner p {
    top: 35% !important;
    font-size: 1rem;
  }
  .quienes-somos-container {
    flex-direction: column;
  }
  .quienes-somos-info {
    margin-left: 0;
    text-align: center;
    max-width: 500px;
  }
  .quienes-somos-info p {
    font-size: 1rem;
    line-height: 1.5rem;
    padding-top: 10%;
  }
  .imagen1 img {
    width: 20rem;
    height: 10rem;
    object-fit: cover;
  }
  #initialTittle {
    font-size: 1.8rem;
  }
  #mision-vision-valores h2 {
    font-size: 2.5rem;
  }
  .inicial-banner img {
    width: 100%;
    height: 350px;
  }
  .ourPeople-container {
    gap: 15px;
  }
  .ourPeople-member {
    width: 200px;
    padding: 15px;
  }
  .ourPeople-member img {
    width: 8rem;
    height: 8rem;
  }
  .btn {
    width: 45px;
    height: 45px;
  }
  .btn i {
    font-size: 20px;
  }
  .quienes-somos-title {
    width: 60%;
    font-size: 36px !important;
  }

  .inicial-banner p {
    text-align: center;
    font-size: 22px !important;
    margin: 15px 0;
  }
}

/* Ajustes para pantallas pequeñas (hasta 480px) */
@media (max-width: 480px) {
  #initialTittle {
    font-size: 1.5rem;
  }
  #mision-vision-valores h2 {
    font-size: 2.2rem;
  }
  .ourPeople-container {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .ourPeople-member {
    width: 65%;
  }
  .ourPeople-member img {
    width: 9rem;
    height: 9rem;
  }
  .btn {
    width: 40px;
    height: 40px;
  }
  .btn i {
    font-size: 18px;
  }
  .quienes-somos-title {
    width: 60%;
    font-size: 24px !important;
  }
  .inicial-banner img {
    width: 100%;
    height: 150px;
  }

  .inicial-banner p {
    text-align: center;
    font-size: 14px !important;
    margin: 15px 0;
  }
}

/* Ajustes para pantallas muy pequeñas (hasta 428px) */
@media (max-width: 428px) {
  #mision-vision-valores {
    flex-direction: column;
    padding: 20px;
    align-items: center;
  }
  #mision-vision-valores h2 {
    font-size: 2rem;
  }
  #mision-vision-valores #vision {
    border-top: 2px solid #e8d6d6;
    border-left: none;
  }
  .inicial-banner {
    margin-top: 25%;
  }
  .inicial-banner h1 {
    top: 21% !important;
    padding: 0.5rem 1rem;
    font-size: 1em;
  }
  .inicial-banner p {
    top: 27% !important;
    font-size: 0.6rem;
  }
  .quienes-somos-info #know-more {
    font-size: 0.7rem;
    margin-top: 10px;
  }
  .quienes-somos-info p {
    font-size: 0.8rem;
    line-height: 1.5rem;
    padding-top: 10%;
  }
}

/* Ajustes para pantallas extra pequeñas (hasta 320px) */
@media (max-width: 320px) {
  .inicial-banner {
    margin-top: 33%;
  }
  .inicial-banner img {
    height: 150px;
  }
  .inicial-banner h1 {
    top: 20% !important;
    padding: 0.5rem 1rem;
    font-size: 0.9em;
  }
  .inicial-banner p {
    top: 25% !important;
    font-size: 0.4rem;
  }
  .quienes-somos-info #know-more {
    font-size: 0.7rem;
  }
  .ourPeople-member {
    width: 70%;
  }
  .ourPeople-member img {
    width: 9rem;
    height: 9rem;
  }
}
