* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #f8f4f1 !important;
}
.nav-responsive {
  background-color: #e8d6d6;
  color: #a68888;
  margin-top: -8px;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}
.inicial-banner {
  margin-top: 6%;
  color: #f8f4f1;
  position: static;
  background-color: #f8f4f1;
}

.inicial-banner img {
  width: 100%;
  height: 500px;
}

.inicial-banner h1 {
  background-color: rgba(166, 136, 136, 0.8);
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f8f4f1; /* Ajusta el color del texto */
  font-size: 4rem; /* Ajusta el tamaño del texto */
  text-align: center; /* Centra el texto */
  text-shadow: 5px 5px 10px black;
  border: 3px solid #f8f4f1;
  padding: 2rem 2rem;
  box-shadow: 0 0 25px #222;
}
.inicial-banner p {
  position: absolute;
  top: 60% !important;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #a68888;
  text-shadow: 7px 7px 10px gray;
  font-size: 2rem;
}

/* Seccion de quienes somos */
.quienes-somos-section {
  background-color: #f8f4f1;
  margin-top: 100px;
  font-family: "Poppins", sans-serif;
}

.quienes-somos-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #a68888;
  padding: 5%;
}

.quienes-somos-info {
  /* flex: 1 1 100%; */
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quienes-somos-title {
  font-size: 60px;
  margin-bottom: 10px;
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  padding-bottom: 30px;
}

.quienes-somos-info p {
  font-size: 0.85rem;
  line-height: 1.5;
}

#content {
  display: none;
  margin-top: 10px;
}
.quienes-somos-info #know-more {
  padding: 1% 5%;
  border: none;
  color: #f8f4f1;
  background-color: #a68888;
  margin-top: 30px;
  margin-bottom: 5%;
  border-radius: 10px;
}
#know-more:hover {
  background-color: #31081f;
}
.imagen1 {
  display: flex;
  justify-content: center;
}

.imagen1 img {
  border-radius: 10px;
  width: 40%;
  height: auto;
  box-shadow: 0 0 15px #ddd;
  height: auto;
}

.imagen1 img:hover {
  transform: scale(1.01); /* Aumenta ligeramente el tamaño */
}

/* Seccion mision y vision */
#mision-vision-valores {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: #a68888;
  color: #ffffff;
  padding: 5%;
}
#mision header,
#vision header {
  padding-bottom: 30px;
}
#mision-vision-valores section {
  padding: 40px;
}

#mision-vision-valores #mision {
  flex: 1;
}

#mision-vision-valores #valores {
  flex: 1;
}

#mision-vision-valores #vision {
  flex: 1;
  border-left: 2px solid #ffffff; /* Línea blanca entre "Misión" y "Valores" */
  height: 100%; /* Ajuste de altura si es necesario */
  margin: 50px 20px; /* Espaciado alrededor de la línea */
}

#mision-vision-valores h2 {
  font-family: "Playfair Display", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
  text-align: center;
}

#mision-vision-valores p,
#cita {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Seccion de nuestro equipo */

#initialTittle {
  text-align: center;
  font-size: 2rem;
  color: #a68888;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
}

.inicial-banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ourPeople-section {
  margin-top: 60px;
}
.ourPeople-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.imagen1 img {
  width: 30rem;
  height: 20rem;
  object-fit: cover;
  margin-left: 40px;
}

.ourPeople-member {
  background: #a68888;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 250px;
  text-align: center;
}

.ourPeople-member img {
  width: 11rem;
  border-radius: 50%;
  height: 11rem;
  object-fit: cover;
}

.memberName {
  font-family: "Playfair Display", serif;
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 20px;
  color: #f8f4f1;
}

.info {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: white;
  margin-top: 5px;
}

#initialTittle {
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  padding-bottom: 30px;
  font-size: 60px;
}

.social-buttons {
  display: flex;
  justify-content: center; /* Centra los botones horizontalmente */
  gap: 20px; /* Espacio entre los botones */
  margin-top: 15px; /* Espacio superior respecto a la tarjeta */
}
.social-buttons a {
  width: 50px; /* Tamaño del botón */
  height: 50px;
  border-radius: 50%; /* Hace el botón redondo */
  display: flex; /* para centrar el contenido */
  align-items: center; /* para centra el ícono verticalmente */
  justify-content: center; /* para centrar el ícono horizontalmente */
  background-color: #31081f; /* Color de fondo (LinkedIn) */
  text-decoration: none; /* Quita el subrayado de los enlaces */
  transition: background-color 0.3s, transform 0.2s; /* Transiciones */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
  border: 2px solid #f8f4f1; /* Borde externo*/
}

/* Iconos dentro del botón */
.btn i {
  color: #f8f4f1; /* Color blanco para los íconos */
  font-size: 25px; /* Tamaño del ícono */
}

/* Botón de LinkedIn */
.linkedin {
  background-color: #e8d6d6; /* Azul corporativo de LinkedIn */
}

.linkedin:hover {
  background-color: #e8d6d6; /* Oscurece el azul al pasar el cursor */
  transform: scale(1.1); /* Efecto de zoom */
}

/* Botón de GitHub */
.github {
  background-color: #E8D6D6#333; /* Color corporativo de GitHub */
}

.github:hover {
  background-color: #e8d6d6; /* Oscurece el color al pasar el cursor */
  transform: scale(1.1); /* Efecto de zoom */
}
/* Botón de GitHub */
.mail {
  background-color: #E8D6D6#333; /* Color corporativo de GitHub */
}

.mail:hover:hover {
  background-color: #e8d6d6; /* Oscurece el color al pasar el cursor */
  transform: scale(1.1); /* Efecto de zoom */
}

/* SECCION RESPONSIVE */
@media (max-width: 2560px) {
  .inicial-banner {
    display: flex;
    flex-direction: column; /* coloca h1 y p en columna */
    justify-content: center; /* centra vertical */
    align-items: center; /* centra horizontal */
    text-align: center; /* centra texto dentro */
    height: 50vh; /* ajusta si tu banner ocupa pantalla */
  }
  .inicial-banner h1 {
    top: 30%;
    padding: 4rem 6rem;
    font-size: 3.3em;
    margin: 0;
  }
  .inicial-banner p {
    margin: 0;
    font-size: 2rem;
    margin-top: -10rem; /* espacio debajo del h1 */
  }
  .quienes-somos-container {
    flex-direction: row;
    margin-top: -4rem; /* controla separación desde el banner */
  }
}

/* Ajustes para pantallas hasta 1440px */
@media (max-width: 1440px) {
  .inicial-banner {
    margin-top: 5%;
  }
  .inicial-banner h1 {
    padding: 3rem 5rem;
    font-size: 3em;
    margin-top: 4rem;
  }
  .inicial-banner p {
    font-size: 1.3rem;
    margin-top: -5rem;
  }

  .quienes-somos-container {
    flex-direction: row;
    margin-top: 0rem; /* controla separación desde el banner */
  }
}

/* Ajustes para pantallas medianas (1024px o menos) */

@media (min-width: 768px) and (max-width: 1024px) {
  .inicial-banner {
    margin-top: -5rem;
    height: 50vh;
    color: red !important;
  }
  .inicial-banner h1 {
    top: 17% !important;
    padding: 2rem 3rem;
    font-size: 2em;
  }
  .inicial-banner p {
    top: 35% !important;
    font-size: 1rem;
  }
  .quienes-somos-container {
    flex-direction: column;
    margin-top: -7rem; /* controla separación desde el banner */
  }
  .quienes-somos-info {
    margin-left: 0;
    text-align: center;
    max-width: 500px;
  }
  .quienes-somos-info p {
    font-size: 1rem;
    line-height: 1.5rem;
    padding-top: 10%;
  }
  .imagen1 img {
    width: 20rem;
    height: 10rem;
    object-fit: cover;
  }
  #initialTittle {
    font-size: 1.8rem;
  }
  #mision-vision-valores h2 {
    font-size: 2.5rem;
  }
  .inicial-banner img {
    width: 100%;
    height: 350px;
  }
  .ourPeople-container {
    gap: 15px;
  }
  .ourPeople-member {
    width: 200px;
    padding: 15px;
  }
  .ourPeople-member img {
    width: 8rem;
    height: 8rem;
  }
  .btn {
    width: 45px;
    height: 45px;
  }
  .btn i {
    font-size: 20px;
  }
  .quienes-somos-title {
    width: 60%;
    font-size: 36px !important;
  }

  .inicial-banner p {
    text-align: center;
    font-size: 22px !important;
    margin: 15px 0;
  }
}

/* Ajustes para pantallas pequeñas (hasta 480px) */
@media (max-width: 480px) {
  .inicial-banner {
    margin-top: -6rem !important;
  }
  .inicial-banner h1 {
    margin-top: 1rem !important;
    padding: 0.5rem 1rem !important;
    font-size: 0.5em;
  }
  .inicial-banner p {
    margin-top: 2rem !important;
    font-size: 0.5rem;
  }
  .quienes-somos-container {
    flex-direction: column;
    margin-top: -5rem; /* controla separación desde el banner */
  }
  .imagen1 img {
    width: 18rem;
    height: 9rem;
    object-fit: cover;
  }
  #initialTittle {
    font-size: 1.5rem;
  }
  #mision-vision-valores h2 {
    font-size: 2.2rem;
  }
  .ourPeople-container {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .ourPeople-member {
    width: 65%;
  }
  .ourPeople-member img {
    width: auto;
    height: auto;
  }
  .btn {
    width: 40px;
    height: 40px;
  }
  .btn i {
    font-size: 18px;
  }
  .quienes-somos-title {
    width: 60%;
    font-size: 24px !important;
  }
  .inicial-banner img {
    width: 100%;
    height: 150px;
  }

  .inicial-banner p {
    text-align: center;
    font-size: 14px !important;
    margin: 15px 0;
  }
}

/* Ajustes para pantallas muy pequeñas (hasta 428px) */
@media (max-width: 428px) {
  .inicial-banner {
    margin-top: -7rem !important;
  }
  .inicial-banner h1 {
    margin-top: 0.5rem !important;
    padding: 0rem 1rem !important;
    font-size: 0.5em;
  }
  .inicial-banner p {
    margin-top: 2rem !important;
    font-size: -1rem;
  }
  .quienes-somos-container {
    flex-direction: column;
    margin-top: -7rem; /* controla separación desde el banner */
  }
  #mision-vision-valores {
    flex-direction: column;
    padding: 20px;
    align-items: center;
  }
  #mision-vision-valores h2 {
    font-size: 2rem;
  }
  #mision-vision-valores #vision {
    border-top: 2px solid #ffffff;
    border-left: none;
  }

  .quienes-somos-info #know-more {
    font-size: 0.7rem;
    margin-top: 10px;
  }
  .quienes-somos-info p {
    font-size: 0.8rem;
    line-height: 1.5rem;
    padding-top: 10%;
  }
  .imagen1 img {
    width: 18rem;
    height: 9rem;
    object-fit: cover;
  }
}

/* Ajustes para pantallas extra pequeñas (hasta 320px) */
@media (max-width: 320px) {
  .inicial-banner {
    margin-top: 33%;
  }
  .inicial-banner img {
    height: 150px;
  }
  .inicial-banner h1 {
    top: 20% !important;
    padding: 0.5rem 1rem;
    font-size: 0.9em;
  }
  .inicial-banner p {
    top: 25% !important;
    font-size: 0.4rem;
  }
  .quienes-somos-info #know-more {
    font-size: 0.7rem;
  }
  .ourPeople-member {
    width: 70%;
  }
  .ourPeople-member img {
    width: 9rem;
    height: 9rem;
  }
}

@media screen and (max-width: 980px) {
  nav {
    display: none;
  }
  .nav-responsive {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 101;
  }
  nav.responsive {
    display: block;
    position: absolute;
    right: 0;
    top: 75px;
    background-color: #e8d6d6 !important;
    width: 100%;
    z-index: 100;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }
  nav.responsive ul {
    display: block !important;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  nav.responsive ul li {
    border-bottom: 1px solid #fff;
    padding: 10px 0;
    text-align: center;
  }
  .logo img {
    max-width: 70px;
  }

  .quienes-somos-info #know-more {
    display: block; /* hace que se comporte como bloque */
    width: 100%; /* ocupa todo el ancho del contenedor */
    text-align: center; /* opcional, para centrar el texto */
    padding: 10px 0; /* ajusta la altura si quieres */
    font-size: 15px; /* ajusta el tamaño de la fuente */
  }
}
